@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=fallback');

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--c-text);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    gap: 1px;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    text-transform: capitalize;

    letter-spacing: -0.0625em;

    margin-bottom: 0.5em;
}

h1 {
    position: relative;

    color: var(--c-text-secondary);
}

h1 {
    font-size: 54px;
    font-weight: 800;

    + h2 {
        font-size: 24px;
    }
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--c-text-secondary);
}


// add the block direction (top/bottom) section padding
section {
    padding-block: var(--padding-v);
}

// zebra stripe the sections
header,
section:nth-of-type(4n) {
    background: var(--c-background);
}
section:nth-of-type(4n - 2) {
    background: var(--c-background-secondary);
}

/* 
// gallery
section:nth-of-type(4) {
    padding: 4rem 2rem;

    ul {
        display: flex;
        list-style: none;
        width: 48rem;
        height: 36rem;
        margin: 0 auto;

        position: relative;

        > li {
            position: absolute;

            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            overflow: hidden;

            > img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                animation: galleryFade 50s linear infinite;
            }

            
        }
    }
}

@keyframes galleryFade {
    0% {
        opacity: 0;
    }
    2.5% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    22.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
} */
