@import './variables';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-family: 'IBM Plex Serif', serif;
    text-transform: capitalize;

    margin-bottom: 0.5em;
}

h1 {
    font-size: 54px;
    font-weight: 500;

    + h2 {
        font-size: 24px;
        font-weight: 500;
    }
}

h2 {
    font-size: 32px;
    font-weight: 300;
}

h3 {
    font-size: 24px;
    font-weight: 300;
}

// cta buttons
p > a:last-child {
    display: block;
    width: 10rem;
    padding: 1rem 2rem;
    margin: 2rem 0 0;

    background: $c-accent;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    font-weight: bold;

    font-family: 'IBM Plex Serif', serif;
}

section p > a:last-child {
    // don't do this for header
    margin-inline: auto;
}


nav {
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: 1rem 0;
    width: 60rem;

    z-index: 100;

    &::before {
        content: ' ';
        position: absolute;
        width: 100vw;
        height: 100%;
        right: calc(50% - 50vw);
        top: 0;

        background: rgba(0,0,0,0.2);

        z-index: -1;

        backdrop-filter: blur(5px);
    }

    > a {
        color: white;

        text-shadow: 1px 1px 0 black;
        text-decoration: none;
        text-transform: capitalize;

        font-weight: bold;
    }
}

// zebra stripe the sections
header,
section:nth-child(2n) {
    background: $c-background;
}



// hero section
header {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 90vh;

    padding: 4rem 2rem;
    margin: 0 auto;

    position: relative;

    overflow-x: hidden;

    > *:not(img) {
        z-index: 2;
        width: 38rem;
        padding-right: 42rem;
    }

    > img {
        position: absolute;
        height: 90vh;
        width: 100vw;
        top: 0;
        right: 0;

        object-fit: cover;

        z-index: 1;

        max-width: none;
    }
}

// img + text
section:first-of-type {
    display: flex;
    flex-direction: column;

    padding: 4rem 2rem;
    padding-left: calc(50% + 2rem);

    position: relative;

    overflow: hidden;

    > *:not(img) {
        max-width: 38rem;
    }

    > img {
        position: absolute;
        top: 50%;
        right: 50%;
        left: 0;
        width: 50%;
        transform: translateY(-50%);
        object-fit: cover;
    }
}
// centred text
section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4rem 2rem;

    > *:not(img) {
        max-width: 60rem;
    }
}
// 3 columns
section:nth-of-type(3) {
    display: grid;
    grid-template-columns: repeat(3, 24rem);
    justify-content: center;
    gap: 0 4rem;
    padding: 4rem 0;

    > h2 {
        grid-column: 1 / 4;
    }
    > h3 {
        grid-row: 2;
    }
    > p {
        img {
            margin-top: 1em;
        }
    }
}

// gallery
section:nth-of-type(4) {
    padding: 4rem 2rem;

    ul {
        display: flex;
        list-style: none;
        width: 48rem;
        height: 36rem;
        margin: 0 auto;

        position: relative;

        > li {
            position: absolute;

            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            overflow: hidden;

            > img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                animation: galleryFade 50s linear infinite;
            }

            @for $i from 1 through 5 {
                &:nth-child(#{$i}) > img {
                    animation-delay: ((5 - $i) * 10s);
                }
            }
        }
    }
}

@keyframes galleryFade {
    0% {
        opacity: 0;
    }
    2.5% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }
    22.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}