////////////////////////////////////////////////////////////////////////
///	colours
////////////////////////////////////////////////////////////////////////
$c-grn		= #00dd00
$c-grn-d	= #00be00
$c-grn-dd	= #009300
$c-grn-l	= #2de02d
$c-grn-ll	= #58e658

$c-lime		= #A2F400
$c-lime-ll	= #C4F75E
$c-lime-l	= #B4F532
$c-lime-d	= #94DE00
$c-lime-dd	= #73AC00

$c-blu		= #00BBBB
$c-blu-l	= #27C1C1
$c-blu-ll	= #4ECCCC
$c-blu-d	= #008E8E
$c-blu-dd	= #006F6F

$c-orang	= #FF7400
$c-orang-l	= #FF9034
$c-orang-ll	= #FFA961
$c-orang-d	= #ED6C00
$c-orang-dd	= #B85400

$c-red		= #FF0000
$c-red-l	= #FF3434
$c-red-ll	= #FF6161
$c-red-d	= #ED0000
$c-red-dd	= #B80000

$c-white	= #ffffff
$c-black	= #111111

$c-bg		= #f8f8d8


////////////////////////////////////////////////////////////////////////
///	fonts
////////////////////////////////////////////////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap')
//@require 'font-face/namskin-all.styl'

$font-body		= 'Roboto Mono', monospace
$font-display	= 'Roboto Mono', monospace

$font-xlg	= calc( 16px + 2.5vw )
$font-lg	= calc( 16px + 2vw )
$font-med	= calc( 8px + 1.5vw )
$font-sm	= 1rem
$font-xsm	= 0.75rem

