$primary	= #3f4a75
$accent		= #db487e
$grey		= #c2c7d4

$time-in-icon	= 0.5s
$time-out-icon	= 0.25s
$time-in-arrow	= 0.5s
$time-out-arrow	= 0.25s


body
	margin	0
	padding	0
	
	color		$primary
	font-family	Raleway
	font-weight	300
	
	// backgroundy bit
	&::before
		background	url(./corner-bg.jpg)
		
		border-bottom-left-radius	100%
		content		' '
		display		block
		position	absolute//fixed
		right		0
		top			0
		height		66.67%
		width		50%
		z-index		-1


.cols
	align-items	center
	display		flex
	margin		0 auto
	max-width	900px
	position	relative
	
	main
		flex	0 0 33.33%
	
	@media ( max-width: 1000px ) {
		flex-direction	column
	}

.desc
	background	#f8f8f888
	padding		2em 1em
	p
		margin		2em auto
		max-width	600px

	
.ringtext
	p
		font-size	2.25em
		
		em
			color		$accent
			font-style	normal
	
	ul
		font-size	1.33em
		padding		0
	
	li
		list-style	none
		
		&::before
			// css triangle
			border			solid currentColor
			border-width	0 1.5px 1.5px 0
			content			' '
			display			inline-block
			height			0.33em
			margin-right	0.5em
			transform		rotate( -45deg )
			vertical-align	middle
			width			0.33em
	
	button
		background	none
		border		none
		color		inherit
		font		inherit
		line-height	1.75
		
		margin	0
		padding	0
		
		//cursor	pointer
		
		&.selected
			font-weight	700
	
.ringimg
	flex	0 0 66.67%


.ring
	color			$primary
	fill			transparent
	stroke			currentColor
	stroke-width	2
	
	image
		opacity		0
		transition	opacity $time-in-icon $time-out-icon
	
	.selected
		opacity		1

.ringitem--icon
	transition			transform $time-out-icon cubic-bezier( .55, .15, .75, 1.5 ), fill $time-out-icon linear
	transform-origin	var(--to)
	
	&.selected
		fill		currentColor
		
		transform	scale( 2 )
		transition	transform $time-in-icon cubic-bezier( .55, .15, .75, 1.5 ), fill $time-in-icon linear
		
		use
			color	white

.ringitem--arrow
	path
		fill			none
		stroke			$grey
		stroke-width	2
	
	.animable
		stroke	$accent
		
		stroke-dasharray	100 100
		stroke-dashoffset	100
		
		transition	stroke-dashoffset 0.001s ease-in//$time-out
		
	&.selected .animable
		stroke-dashoffset	0
		
		transition	stroke-dashoffset $time-in-arrow
		
	&.selected--out .animable
		stroke-dashoffset	-100
		
		transition	stroke-dashoffset $time-out-arrow


footer
	font-size	10px
	text-align	center
