@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
* {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

/***********
 * colours *
 ***********/
/*********
 * sizes *
 *********/
@media (max-width: 799px) {
  :root {
    --col-gap-h: 30px;
    --col-gap-v: 33vh; }

  .column {
    grid-template-columns: 1fr 5fr 1fr; }
    .column > *:nth-child(2n + 1) {
      grid-column: 2 / 4; }
    .column > *:nth-child(2n) {
      grid-column: 1 / 3; } }
@media (min-width: 800px) {
  :root {
    --col-gap-h: 40px;
    --col-gap-v: 60px; }

  .column {
    width: 800px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(var(--col-gap-h), max-content);
    justify-content: center;
    align-items: center; }
    .column > * {
      grid-row: span 2; }
    .column > .column-header + * + * {
      grid-column: 2;
      grid-row: 3 / 5; } }
.column {
  max-width: 90%;
  margin: 0 auto 0;
  display: grid;
  gap: var(--col-gap-v) var(--col-gap-h); }
  .column > .column-header, .column > .column-footer, .column > .column-span {
    grid-column: 1 / -1;
    grid-row: span 1;
    text-align: center; }

.demopop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .demopop > div {
    position: relative;
    background: white;
    border: 2px solid white;
    box-shadow: 0 1px 4px #111; }
  .demopop > div > button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    line-height: 1;
    padding: 2px;
    color: white;
    text-shadow: 1px 1px #111;
    font-family: monospace;
    font-size: 24px; }
    .demopop > div > button::before {
      content: '['; }
    .demopop > div > button::after {
      content: ']'; }
  .demopop iframe {
    display: block;
    height: 90vh;
    width: 90vw;
    border: none; }

@media (min-width: 800px) {
  iframe {
    width: 80vw; } }
body {
  background: #440055;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.3; }

@media (max-width: 800px) {
  .mhide {
    display: none; } }
section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #ffffff;
  color: #1e0025;
  padding: 20px 26px 32px;
  border-radius: 20px; }
  section:nth-child(2n + 1) {
    border-bottom-left-radius: 0; }
  section:nth-child(2n) {
    border-bottom-right-radius: 0; }
  section a {
    color: #440055; }
  section > p {
    line-height: 24px; }
    section > p sup, section > p sub {
      line-height: 0; }
    section > p:first-child::first-letter {
      font-size: 18px; }

.column > .column-header,
.column > .column-footer {
  filter: drop-shadow(0 1px 1px #000); }

.column > .column-header {
  font-family: Fascinate, sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px #1e0025;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: max-content;
  justify-self: center;
  margin-top: 24px;
  margin-bottom: 50vh; }
  .column > .column-header h1 {
    width: min-content; }

.column > .column-footer {
  margin-top: 24vh;
  margin-bottom: 50vh;
  max-width: 500px;
  justify-self: center;
  opacity: 0.75; }
  .column > .column-footer > p {
    line-height: 2; }

@media (max-width: 799px) {
  .headscroll {
    --headsize: 50svh; } }
@media (min-width: 800px) {
  .headscroll {
    --headsize: 66.667lvh; } }
.headscroll {
  --theta: 0;
  pointer-events: none;
  position: fixed;
  height: calc(100vh + 1vh);
  width: 100vw;
  top: 0;
  left: 0;
  background-image: radial-gradient(ellipse at top, transparent 60vw, #ff0088), radial-gradient(ellipse at top, transparent 55vw, #ff1493), radial-gradient(ellipse at top, transparent 50vw, #ff45a8), radial-gradient(ellipse at top, transparent 45vw, #ff93cc), linear-gradient(transparent 50%, #440055), linear-gradient(transparent 66.667%, #440055), linear-gradient(transparent 50%, #440055 75%); }
  .headscroll > canvas {
    position: relative;
    z-index: -1; }

.headscroll--head {
  position: absolute;
  height: 50svh;
  width: 100vw;
  bottom: 0;
  left: 0;
  background-image: url("/assets/me1.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: var(--headsize);
  filter: drop-shadow(0 0 8px #222); }
  .headscroll--head::after, .headscroll--head::before {
    content: url("/assets/me2.webp");
    display: block;
    position: absolute;
    top: 100%;
    height: 25svh;
    width: calc(var(--headsize) / 2);
    background-image: url("/assets/me2.webp");
    background-repeat: no-repeat;
    background-size: var(--headsize);
    transform: rotate(0deg); }

.headscroll--open .headscroll--head {
  background-image: url("/assets/me2.webp");
  height: 25svh;
  background-position: center -25svh; }
  .headscroll--open .headscroll--head::before, .headscroll--open .headscroll--head::after {
    content: ' ';
    top: initial;
    bottom: 25svh;
    background-position: left top;
    transition: transform 0.4s cubic-bezier(0.05, 0.25, 0.8, 1.5); }
  .headscroll--open .headscroll--head::before {
    left: calc(50% - var(--headsize) *0.5);
    transform-origin: calc(var(--headsize) * 1 / 16) 100%;
    background-position: left top;
    transform: rotate(calc(var(--theta) * -1deg)); }
  .headscroll--open .headscroll--head::after {
    left: calc(50%);
    transform-origin: calc(var(--headsize) * 7 / 16) 100%;
    background-position: right top;
    transform: rotate(calc(var(--theta) * 1deg)); }

.headscroll--pausebtn {
  pointer-events: all;
  position: absolute;
  bottom: 1vh;
  right: 0;
  display: block;
  height: 1em;
  width: 1em;
  margin: 0.25em;
  padding: 0;
  font-size: 64px;
  color: transparent;
  background-color: transparent;
  border: none; }
  .headscroll--pausebtn::before {
    content: ' ';
    position: absolute;
    top: 0.125em;
    right: 0.125em;
    display: block;
    height: 0.75em;
    width: 0.75em;
    box-sizing: border-box;
    border-color: transparent rgba(255, 255, 255, 0.5);
    border-style: double;
    border-width: 0 0 0 0.75em;
    transition: border-width 0.25s; }
  .headscroll--pausebtn.headscroll--pausebtn--paused::before {
    border-style: solid;
    border-width: 0.375em 0 0.375em 0.75em; }

/*# sourceMappingURL=main.css.map */
